# Local environment variables containing sensitive keys
.env

# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local databases
*.db
*.sqlite
*.sqlite3

# Virtual environments
venv/
.venv/
env/
